doctype html
html
	include ./pug/base/head.pug
	body
		main

			section.section.section--intro.flex-center#intro
				.section-content
					h1.title1 Centered Text

			section.section.section--content

			section.section.section--parallax.flex-center
				.bcg
				.content-wrapper
					h1.title2(data-aos="fade-down") Batman Hush

			section.section.section--content

		include ./pug/base/scripts.pug
