doctype html
html
	include ./pug/base/head.pug
	body
		main.l-main
			section.section.section-1
				.loader-container
					.loader.loader--1
					.loader.loader--2
					.loader.loader--3
					.loader.loader--4
					//- .loader.loader--5
			section.section.section-2
				h2 section 2
				h2 section 3
